# Created by venv; see https://docs.python.org/3/library/venv.html

# Entorno virtual
venv/
env/
ENV/

# Archivos de configuración local y variables de entorno
.env

# Archivos de Python (Caché y compilados)
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración del editor (VS Code, PyCharm, etc.)
.vscode/
.idea/

# Subidas de archivos locales (Ignora imágenes subidas pero conserva default.png)
static/uploads/*
!static/uploads/default.png